.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 200px;
    display: inline-block;
}

.image {
    background-color: #eee;
    width: 100%; /* Corrige "widt" a "width" */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: bold;
}

/* styles.css */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura de la ventana */
  padding: 16px;
}

