.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    min-height: 100vh; 
    padding: 1rem;
  }
  