.card {
    border: 1px solid #000000;
    border-radius: 0;
    padding: 1em !important;
    margin: 16px ;
    width: 232px !important;
    max-width: 232px !important;
    height: 235px !important; /* Altura fija para asegurar la alineación */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacio uniforme entre elementos */
    align-items: center; /* Alinea los elementos horizontalmente */
    white-space: normal !important; /* Permite el salto de línea en el texto */
    display: inline-block !important;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.items {
    text-align: center;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    font-size: 20px !important;
    text-align: center;
    color: #000000;
}
