@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.card {
    border: 1px solid #000000;
    border-radius: 1em;
    padding: 16px !important;
    margin: 16px;
    width: 250px !important;
    max-width: 250px !important;
    height: 180px !important;
    max-height: 200px;
    display: inline-block !important;
    overflow: hidden; /* Oculta el contenido que excede el alto máximo */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}

/* Estilo de la tarjeta en pantallas pequeñas */
@media (max-width: 250px) {
  .name {
    font-size: 12px !important; /* Cambia el tamaño de la fuente en pantallas pequeñas */
  }
}

.name{
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
  font-size: 20px !important; /* El tamaño del texto se adapta dinámicamente al ancho del viewport */
  text-align: center;
  color: #000000;
  white-space: nowrap; /* Evita el salto de línea en el texto */
  overflow: hidden; /* Oculta el texto que excede el contenedor */
  text-overflow: ellipsis; /* Muestra '...' si el texto es demasiado largo */
  display: block !important; /* Asegura que el texto ocupe una línea */
}

.items{
    text-align: center;
}

/* Opcional: Ajusta el tamaño del texto en pantallas más pequeñas */
@media (max-width: 250px) {
  .name {
      font-size: 12px !important; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
  }
}

.conteiner{
  text-align: center !important;
}

.nameContainer{
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
  font-size: 32px !important;
  text-align: center;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block !important;
}


.description{
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
  font-size: 20px !important; /* El tamaño del texto se adapta dinámicamente al ancho del viewport */
  text-align: center;
  color: #000000;
  overflow: hidden; /* Oculta el texto que excede el contenedor */
  text-overflow: ellipsis; /* Muestra '...' si el texto es demasiado largo */
  display: block !important; /* Asegura que el texto ocupe una línea */
}