.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  flex-direction: column; /* Alinea el cubo y el mensaje en columna */
}

.container {
  position: relative;
  width: 250px; /* Tamaño del contenedor ajustado al tamaño del cubo */
  height: 250px; /* Tamaño del contenedor ajustado al tamaño del cubo */
}

.cube {
  position: relative;
  width: 250px; /* Tamaño del cubo */
  height: 250px; /* Tamaño del cubo */
  transform-style: preserve-3d;
  animation: rotateCube 5s infinite linear;
}

.face {
  position: absolute;
  width: 250px; /* Tamaño de las caras del cubo */
  height: 250px; /* Tamaño de las caras del cubo */
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #ffffff;
  transform: translateZ(125px); /* Mueve la cara fuera del centro del cubo */
}

.front  { transform: rotateY(0deg) translateZ(125px); background: #6d38c2; }
.back   { transform: rotateY(180deg) translateZ(125px); background: #6d38c2; }
.right  { transform: rotateY(90deg) translateZ(125px); background: #6d38c2; }
.left   { transform: rotateY(-90deg) translateZ(125px); background: #6d38c2; }
.top    { transform: rotateX(90deg) translateZ(125px); background: #6d38c2; }
.bottom { transform: rotateX(-90deg) translateZ(125px); background: #6d38c2; }

.front::before {
  content: '';
  position: absolute;
  width: 8px; /* Grosor de la línea */
  height: 100%;
  background: rgb(255, 255, 255);
  left: 50%;
  transform: translateX(-50%);
}

@keyframes rotateCube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}


/* Estilos para el mensaje de carga */
.loading {
  margin-top: 20px; /* Espacio entre el cubo y el texto */
  text-align: center;
  color: #6d38c2;
  font-size: 18px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: #6d38c2;
  border-radius: 50%;
  margin: 0 5px;
  animation: bounce 1.5s infinite ease-in-out;
  position: relative;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

/* Animación de rebote de los puntos de carga */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Aumenta el rebote */
  }
}

.dot::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text{
  font-size: 32px !important;
}